@import 'tailwindcss';

:root {
  ::selection {
    background: hsl(var(--color-background-neutral-inverse) / 0.2);
  }
}

@theme inline {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 640px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1280px;

  --spacing-header-height: 88px;
  --spacing-footer-height: 72px;

  --color-*: initial;
  --color-transparent: transparent;
  --color-background-neutral-default: hsl(
    var(--color-background-neutral-default)
  );
  --color-background-neutral-faded: hsl(var(--color-background-neutral-faded));
  --color-background-neutral-subtle: hsl(
    var(--color-background-neutral-subtle)
  );
  --color-background-neutral-strong: hsl(
    var(--color-background-neutral-strong)
  );
  --color-background-neutral-inverse: hsl(
    var(--color-background-neutral-inverse)
  );
  --color-background-brand-default: hsl(var(--color-background-brand-default));
  --color-background-positive-default: hsl(
    var(--color-background-positive-default)
  );
  --color-foreground-neutral-default: hsl(
    var(--color-foreground-neutral-default)
  );
  --color-foreground-neutral-faded: hsl(var(--color-foreground-neutral-faded));
  --color-foreground-neutral-subtle: hsl(
    var(--color-foreground-neutral-subtle)
  );
  --color-foreground-neutral-strong: hsl(
    var(--color-foreground-neutral-strong)
  );
  --color-foreground-neutral-inverse: hsl(
    var(--color-foreground-neutral-inverse)
  );
  --color-foreground-brand-default: hsl(var(--color-foreground-brand-default));
  --color-border-neutral-default: hsl(var(--color-border-neutral-default));
  --color-border-neutral-faded: hsl(var(--color-border-neutral-faded));
  --color-border-neutral-subtle: hsl(var(--color-border-neutral-subtle));
  --color-border-neutral-strong: hsl(var(--color-border-neutral-strong));
  --color-border-brand-default: hsl(var(--color-border-brand-default));

  --text-*: initial;
  --text-body-small-default: 12px;
  --text-body-small-default--line-height: 16px;
  --text-body-small-default--font-weight: 400;
  --text-body-small-subtle: 12px;
  --text-body-small-subtle--line-height: 16px;
  --text-body-small-subtle--font-weight: 500;
  --text-body-medium-default: 14px;
  --text-body-medium-default--line-height: 20px;
  --text-body-medium-default--font-weight: 400;
  --text-body-medium-subtle: 14px;
  --text-body-medium-subtle--line-height: 20px;
  --text-body-medium-subtle--font-weight: 500;
  --text-body-medium-strong: 14px;
  --text-body-medium-strong--line-height: 20px;
  --text-body-medium-strong--font-weight: 600;
  --text-body-large-default: 16px;
  --text-body-large-default--line-height: 26px;
  --text-body-large-default--font-weight: 400;
  --text-body-large-subtle: 16px;
  --text-body-large-subtle--line-height: 24px;
  --text-body-large-subtle--font-weight: 500;
  --text-body-large-strong: 16px;
  --text-body-large-strong--line-height: 24px;
  --text-body-large-strong--font-weight: 600;
  --text-title-small-strong: 18px;
  --text-title-small-strong--line-height: 26px;
  --text-title-small-strong--font-weight: 600;
  --text-title-small-strong--letter-spacing: -0.02em;
  --text-title-medium-strong: 20px;
  --text-title-medium-strong--line-height: 28px;
  --text-title-medium-strong--font-weight: 600;
  --text-title-medium-strong--letter-spacing: -0.02em;
  --text-title-large-strong: 24px;
  --text-title-large-strong--line-height: 32px;
  --text-title-large-strong--font-weight: 600;
  --text-title-large-strong--letter-spacing: -0.02em;

  @keyframes ping {
    75%,
    100% {
      transform: scale(3);
      opacity: 0;
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes trail {
    to {
      offset-distance: 100%;
    }
  }
}

@layer color {
  :root {
    --hue: 35;

    --color-white: 0 0% 100%;
    --color-black: 0 0% 0%;

    --color-gray-50: var(--hue) 4% 96%;
    --color-gray-100: var(--hue) 4% 92%;
    --color-gray-200: var(--hue) 4% 88%;
    --color-gray-300: var(--hue) 4% 80%;
    --color-gray-400: var(--hue) 4% 64%;
    --color-gray-500: var(--hue) 4% 48%;
    --color-gray-600: var(--hue) 4% 32%;
    --color-gray-700: var(--hue) 4% 16%;
    --color-gray-800: var(--hue) 4% 12%;
    --color-gray-900: var(--hue) 4% 8%;
    --color-gray-950: var(--hue) 4% 4%;

    --color-green-500: 160 80% 48%;

    --color-orange-400: var(--hue) 92% 64%;
    --color-orange-500: var(--hue) 96% 48%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      color-scheme: dark;

      --color-background-neutral-default: var(--color-gray-950);
      --color-background-neutral-faded: var(--color-gray-900);
      --color-background-neutral-subtle: var(--color-gray-800);
      --color-background-neutral-strong: var(--color-gray-700);
      --color-background-neutral-inverse: var(--color-white);
      --color-background-brand-default: var(--color-orange-400);
      --color-background-positive-default: var(--color-green-500);

      --color-foreground-neutral-default: var(--color-gray-50);
      --color-foreground-neutral-faded: var(--color-gray-400);
      --color-foreground-neutral-subtle: var(--color-gray-300);
      --color-foreground-neutral-strong: var(--color-gray-100);
      --color-foreground-neutral-inverse: var(--color-gray-900);
      --color-foreground-brand-default: var(--color-orange-400);

      --color-border-neutral-default: var(--color-gray-600);
      --color-border-neutral-faded: var(--color-gray-800);
      --color-border-neutral-strong: var(--color-gray-500);
      --color-border-neutral-subtle: var(--color-gray-700);
      --color-border-brand-default: var(--color-orange-400);
    }
  }

  @media (prefers-color-scheme: light) {
    :root {
      color-scheme: light;

      --color-background-neutral-default: var(--color-white);
      --color-background-neutral-faded: var(--color-gray-50);
      --color-background-neutral-subtle: var(--color-gray-100);
      --color-background-neutral-strong: var(--color-gray-300);
      --color-background-neutral-inverse: var(--color-gray-950);
      --color-background-brand-default: var(--color-orange-500);
      --color-background-positive-default: var(--color-green-500);

      --color-foreground-neutral-default: var(--color-gray-900);
      --color-foreground-neutral-faded: var(--color-gray-600);
      --color-foreground-neutral-subtle: var(--color-gray-700);
      --color-foreground-neutral-strong: var(--color-gray-800);
      --color-foreground-neutral-inverse: var(--color-gray-50);
      --color-foreground-brand-default: var(--color-orange-500);

      --color-border-neutral-default: var(--color-gray-300);
      --color-border-neutral-faded: var(--color-gray-100);
      --color-border-neutral-subtle: var(--color-gray-200);
      --color-border-neutral-strong: var(--color-gray-400);
      --color-border-brand-default: var(--color-orange-500);
    }
  }
}
